<form action="{% url 'searchIndex' %}" class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control rounded-pill" type="search" name="q" placeholder="Search on MTS" aria-label="Search" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary rounded-pill" type="submit" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
        </div>
    </div>
</form>