{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2>Important Information Regarding Website Usage</h2>
        <p>This website has been created solely for the purpose of practicing my backend development skills and does not serve any commercial or professional purposes. The site is designed as a test product for educational and experiential purposes.</p>

        <h3>Data Storage and Security</h3>
        <ul>
            <li><strong>Data Storage:</strong> This site does not store any permanent data. The information entered by users is temporary and used for testing and experimentation purposes. No personal or sensitive data is stored for long periods.</li>
            <li><strong>Security:</strong> The site is protected by basic security measures, but it does not have the extensive security measures that commercial sites possess. Therefore, I advise against sharing sensitive information on this site.</li>
        </ul>

        <h3>Purpose of Use</h3>
        <ul>
            <li><strong>Education and Practice:</strong> This site is intended to help me improve my backend development skills and practice various technologies. I use it to solve problems encountered during my educational journey and to learn new techniques.</li>
            <li><strong>Experimental Features:</strong> The site may contain various experimental features and techniques. These features are subject to change and update continuously as part of my learning process.</li>
        </ul>

        <h3>Disclaimer</h3>
        <ul>
            <li><strong>Errors and Interruptions:</strong> There may be errors or interruptions in the site's operation from time to time. These situations are a natural part of the educational and development process and may negatively impact your user experience.</li>
            <li><strong>User Data:</strong> The data shared on this site will not be shared with any third parties and will only be used for educational purposes. However, it is important to remember that the information entered on the site is temporary and not stored permanently.</li>
        </ul>

        <h3>Feedback and Communication</h3>
        <p><strong>Feedback:</strong> Your feedback is highly valuable to me for the improvement and enhancement of the site. If you have any suggestions or feedback, please feel free to contact me on LinkedIn.</p>

        <p>Please consider this information while using the site. My goal is to practice my software development skills, become a better developer, and apply what I learn through this platform.</p>
    </div>
{% endblock content %}